<launch>

	<arg name="debug" default="false" />

    <!-- Circle detection -->
    <node pkg="autonomous_driving" type="object_detection_node.py" name="object_detection_node" ns="autonomous_driving" output="screen">
        <remap from="image" to="image_raw"/>
	<param name="breaking_distance" type="int" value="100" />
    </node>
</launch>
