<launch>
	<arg name="debug" default="false" />
	<!-- Circle detection -->
	<node pkg="autonomous_driving" type="object_detection_node.py" name="object_detection_node" ns="autonomous_driving" output="screen">
		<remap from="image" to="image_raw" />
		<remap from="objectcontroller/steering" to="objectcontroller/steering" />
		<remap from="objectcontroller/thottle" to="objectcontroller/throttle" />
		<param name="base_throttle" type="double" value="0.5" />
		<param name="b_calc_steering" type="bool" value="false" />
		<param name="debug_flag" type="bool" value="$(arg debug)" />
	</node>
</launch>
