<launch>

    <!-- Pixhawk MAVROS -->
    <include file="$(find mavros)/launch/px4.launch"></include>

    <!-- PID Controller -->
    <node pkg="pid" type="controller" name="controller" ns="autonomous_driving" output="screen" >
        <param name="Kp" value="-2.0" />
        <param name="Ki" value="-2.0" />
        <param name="Kd" value="-0.1" />
        <param name="upper_limit" value="1000" />
        <param name="lower_limit" value="-1000" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="30.0" />
        <param name="min_loop_frequency" value="30.0" />
    </node>

    <!-- Acutator Control -->
    <node pkg="autonomous_driving"
        type="rovercontrol"
        name="maia"
        respawn="false"
        launch-prefix=""
        output="screen"
        required="true">
    </node>
</launch>
