<launch>

    <arg name="debug" default="false" />

    <!-- Pixhawk MAVROS -->
    <include file="$(find mavros)/launch/px4.launch" ns="autonomous_driving" unless="$(arg debug)"></include>

    <!-- PID Controller -->
    <node pkg="pid" type="controller" name="controller" ns="autonomous_driving" output="screen">
        <param name="Kp" value="-0.1" />
        <param name="Ki" value="-0.006" />
        <param name="Kd" value="-0.0046" />
        <param name="upper_limit" value="1000" />
        <param name="lower_limit" value="-1000" />
        <param name="windup_limit" value="10" />
        <param name="max_loop_frequency" value="30.0" />
        <param name="min_loop_frequency" value="30.0" />
    </node>

    <!-- Acutator Control -->
    <node pkg="autonomous_driving" type="rovercontrol" name="maia" output="screen" ns="autonomous_driving" unless="$(arg debug)">
    	<remap from="lanecontroller/steering" to="control_effort"/>
	<remap from="lanecontroller/throttle" to="lanecontroller/throttle"/>
	<remap from="objectcontroller/steering" to="objectcontroller/steering"/>
	<remap from="objectcontroller/throttle" to="objectcontroller/throttle"/>
    </node>
</launch>
